

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.table-container {
    margin: 20px;
    overflow-x: auto;
    max-height: 800px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.header-cell, .data-cell {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.header-cell {
    background-color: #333;
    color: #fff;
}

.data-cell {
    background-color: #fff;
}

.data-cell:nth-child(even) {
    background-color: #f9f9f9;
}

.delete-link {
    color: #ff0000;
    text-decoration: none;
}

.delete-link:hover {
    text-decoration: underline;
}


.CadAluno, .Logout {
    display: block;
    
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.CadAluno:hover {
    transition: 0.4s;
    background-color: #3d8e42;
}

.Logout:hover {
    transition: 0.4s;
    background-color: rgb(255, 65, 61);
}



.Botoes {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

